 <section class="reserve-table">
        <div class="max-width">
            <div class="reserve-heading">
                <h1>Reserve Your Experience</h1>
                <p>Every course ascends toward heaven, & time slows to rhythm of fine wine, & unforgettable flavor</p>
            </div>

            <div class="reserve-table-box">
                <div class="reserve-table-box-image">
                <img src="https://framerusercontent.com/images/uJ8s5QaULeThA2JRoHUeOECmuM.png?scale-down-to=1024" alt="">
                 </div>
              <div class="reserve-table-details">
                <h1>An evening of exquisite taste, quiet luxury</h1>
                <div class="table-shedule">
                    <div class="table-timing">
                        <h5>Monday to Friday</h5>
                        <p>9:00AM -10:00PM</p>

                    </div>
                    <div class="table-timing">
                        <h5>Saturday and Sunday</h5>
                        <p>9:00AM -12:00PM</p>
                    </div>
                </div>
                <div class="table-timing address">
                   <h5>Address</h5>
                   <p>Mr. Johnathan Reed Rosew Maplewood Lane</p>
                </div>

                <button><a href="/Sevoria-Restaurant-Project/components/footer-and-links/reservation-table/reservation-form.html">Make A Reservation</a></button>
              </div>
                
            </div>
            

        </div>

    </section>