<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/Sevoria-Restaurant-Project/images/savoria-icon.png" />
    <title>Sevoria Restaurant</title>
    <link rel="stylesheet" href="terms-conditions.css" />
    <link rel="stylesheet" href="/Sevoria-Restaurant-Project/components/navbar-and-file/navbar.css" />
    <link rel="stylesheet" href="/Sevoria-Restaurant-Project/components/footer-and-links/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
</head>
<body>

    <!-- Header -->
    <div id="navbar"></div>

    <!-- Hero -->
    <section class="hero">
      <img
        src="https://framerusercontent.com/images/E28s7XqLaKOapltaPlGRYqEgOA.png" alt="Image"/>

      <div class="overlay"></div>

      <div class="hero-text">
        <h1>Terms & Conditions</h1>
        <p>
         By accessing and using this website, you agree to be bound by these terms.
        </p>
      </div>
    </section>

    <section class="terms-conditions">
        <div class="max-width">
            <article>
                <h4>Last Updated: 11 May 2025</h4>
                <h1>1. Acceptance of Terms</h1>
                <p>By using this Website in any manner, including but not limited to browsing, making reservations, purchasing gift cards, or submitting inquiries, you acknowledge that you have read, understood, and agree to be fully bound by these Terms. These Terms constitute a legally binding agreement between you and owner. If you do not agree to each and every provision of these Terms, please refrain from using this Website.</p>

                <h1>2. Online Reservations</h1>
                <p>May offer online reservation services through the Website, allowing you to conveniently book tables at our restaurant. All reservations made through the Website are subject to real-time availability and require final confirmation, which may be communicated via email or phone.</p>

                <p>When making a reservation online, you may be required to provide specific personal information, such as your full name, a valid email address, a working phone number, and potentially payment information if required to secure the booking (as specified during the reservation process). It is your responsibility to ensure all provided information is accurate and up-to-date.</p>

                <p>You are solely responsible for managing your reservations made through the Website, including any modifications or cancellations. Please note that cancellation and modification policies, which may vary depending on the date, time, and size of your booking, will be clearly presented to you before you finalize your reservation.</p>

                <p>Reserves the right to request a pre-authorization or a non-refundable deposit using your provided credit card details for certain reservations, particularly during peak dining hours, for large groups, or for special promotional events. Details of any such requirements will be clearly communicated during the booking process. Failure to provide valid payment information or adhere to the stated policies may result in the cancellation of your reservation</p>

                <h1>3. Gift Cards and Certificates</h1>

                <p>May offer electronic or physical gift cards and certificates that can be purchased through the Website or at our restaurant premises. These items hold a monetary value that can be redeemed for food, beverages, and other eligible services, subject to the terms outlined herein and any specific conditions provided at the time of purchase.</p>

                <p>The specific terms and conditions applicable to each gift card or certificate, including its validity period (expiration date), any restrictions on its use (e.g., not applicable to certain menu items or special events), and whether it is transferable, will be clearly communicated to the purchaser at the point of sale or within the digital gift card details.</p>

                <p>Please treat your  gift cards and certificates with the same care as cash. We are not responsible for, and will not replace, lost, stolen, damaged, or unauthorizedly used gift cards or certificates. Any remaining balance on an expired gift card or certificate may be forfeited in accordance with applicable laws.</p>

                <h1>4. Intellectual Property</h1>

                <p>The entirety of the content displayed on this Website, encompassing but not limited to all text, photographic and graphic images, logos, brand names, trademarks, service marks, design elements, video and audio clips, software code, and the overall look and feel of the Website (collectively, the "Content"), is the exclusive property of or duly licensed and is rigorously protected under applicable copyright laws, trademark regulations, and other intellectual property rights.</p>

                <p>Grants you a limited, non-exclusive, revocable license to access and view the Content solely for your personal, non-commercial informational purposes directly related to your interest in  services. This license does not permit you to download (except for page caching), modify, reproduce, distribute, transmit, publicly display, publicly perform, publish, create derivative works from, or otherwise exploit the Content in any manner without the express prior written consent of an authorized representative.</p>


            </article>
        </div>
    </section>

    <!-- Footer -->
    <div id="footer"></div>
    
</body>
<script src="../../../index.js"></script>
</html>