<header class="header">
  <div class="max-width">
    <div class="navbar">
      <h2>Savoria</h2>

      <nav class="nav-menu">
        <ul>
          <li><a href="/Sevoria-Restaurant-Project/index.html">Home</a></li>
          <li><a href="/Sevoria-Restaurant-Project/navbar-pages/menu/menu.html">Menu</a></li>
          <li><a href="/Sevoria-Restaurant-Project/navbar-pages/about/about.html">About</a></li>
          <li><a href="/Sevoria-Restaurant-Project/navbar-pages/blog/blog.html">Blog</a></li>

          <!-- Mobile Button -->
          <li>
           
           <button class="mobile-btn"> <a href="/Sevoria-Restaurant-Project/components/footer-and-links/reservation-table/reservation-form.html">Book A Table</a></button>
           
          </li>
        </ul>
      </nav>

      <!-- Desktop Button -->
       <a href="/Sevoria-Restaurant-Project/components/footer-and-links/reservation-table/reservation-form.html">
      <button class="navbtn">Book A Table</button>
      </a>
      <div class="navbar-icon">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
  </div>
</header>
