*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

.max-width{
  width: 90%;
  margin: 0 auto;
}

.header{
  width: 100%;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(151, 151, 151, 0.4);

  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;

  position: relative;
}

.navbar h2{
  font-size: 40px;
  color: var(--secondary);
  font-family: var(--font-family);
  font-weight: bold;
  text-transform: uppercase;
}

.navbar > nav > ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
}

nav > ul > li > a{
  position: relative;
  font-size: 20px;
  color: var(--text-Light);
  text-decoration: none;

  transition: 0.3s;
}

nav > ul > li > a::after{
  content: "";

  position: absolute;

  left: 0;
  bottom: -5px;

  width: 0%;
  height: 2px;

  background: var(--secondary);

  transition: width 0.4s ease;
}

nav > ul > li > a:hover{
  color: var(--secondary);
}

nav > ul > li > a:hover::after{
  width: 100%;
}


.navbtn,
.mobile-btn{
  padding: 7px 12px;
  border-radius: 7px;

  background: var(--secondary);

  color: black;

  border: 1px solid rgba(136, 134, 134, 0.3);

  font-size: 16px;
  font-weight: 600;

  display: inline-flex;
  align-items: center;
  gap: 14px;

  cursor: pointer;
  transition: all 0.3s ease;

  white-space: nowrap;
}

.mobile-btn{
  width: fit-content;
}

.navbtn:hover,
.mobile-btn:hover{
  transform: translateX(-4px);
}

.navbtn::after,
.mobile-btn::after{

  content: '➜';

  width: 32px;
  height: 32px;

  border-radius: 50%;

  background: rgba(0, 0, 0, 0.15);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  font-weight: bold;

  color: black;

  transform: rotate(-45deg);

  transition: all 0.3s ease;
}

.navbtn:hover::after,
.mobile-btn:hover::after{

  transform: rotate(0deg) scale(1.1);

  background: rgba(20,20,20,0.25);
}


.navbar-icon{
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: var(--text-Light);
}

.mobile-btn{
  display: none;
}

/* ================= MOBILE ================= */

@media (max-width:600px){
  .header{
  overflow: visible;
}

  .navbar h2{
    font-size: 30px;
  }

  .navbtn{
    display: none;
  }

  .navbar-icon{
    display: block;
  }

  .nav-menu{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);


    width: 100vw;
    background: rgba(0, 0, 0, 0.4);

    max-height: 0;
    overflow: hidden;

    transition: 0.4s ease;
  }

 .nav-menu.active{
    max-height: 500px;
  }

  .nav-menu ul{
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    list-style: none;
  }

  .nav-menu ul li{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }


   .nav-menu ul li a{
    width: 100%;
    display: block;
    
  }

  .mobile-btn>a{
    text-decoration: none;
    color: black;

  }

  .mobile-btn{
      display: flex;
  align-items: center;
  justify-content: center;

  gap: 14px;

  width: fit-content;

  white-space: nowrap;
  }
}